.home {
  display: flex;
}

.boards_container {
  display: flex;
}

.board_tile {
  background: var(--color-blue);

  border-radius: 0.4rem;
  min-width: 180px;
  min-height: 96px;

  padding: 10px;
  margin: 5px;
}

.board_tile:hover {
  background: var(--color-blue-dark);

  border-radius: 0.4rem;
  min-width: 180px;
  min-height: 96px;

  padding: 10px;
  margin: 5px;
}

.board_tile h6 {
  color: white;

  padding-top: 5px;

  font-size: 16px;
  height: 20px;
}
