.home {
  display: flex;
}

.boards_container {
  display: flex;
}

.board_tile {
  background: var(--color-blue-light-variant);

  border-radius: 0.4rem;
  width: 180px;
  height: 96px;

  padding: 10px;
  margin: 5px;
}

.board_tile:hover {
  background: var(--color-blue-light);
}

.board_tile h6 {
  color: white;

  padding-top: 5px;

  font-size: 16px;
  height: 20px;
}

.board_tile_add {
  background: var(--color-gray);

  border-radius: 0.4rem;
  width: 180px;
  height: 96px;

  padding: 10px;
  margin: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.board_tile_add:hover {
  background: var(--color-gray-light);
}

.board_tile_add h6 {
  font-size: 14px;
  font-weight: 400;
}

.board_tile_create {
  background: var(--color-gray-light);

  border-radius: 0.4rem;
  width: 180px;

  padding: 5px;
  margin: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.board_tile_line,
.board_tile_2nd {
  width: 100%;
  display: flex;
}

.board_tile_2nd {
  margin-top: 5px;
}

.board_tile_2nd .cancel {
  color: black;
}

.board_tile_2nd .cancel:hover {
  color: gray;
}

.board_tile_2nd .add_board {
  background-color: var(--color-blue);
  color: white;
  padding: 10px;
}

.board_tile .icons {
  display: flex;
}

.board_tile .icons .delete {
  color: var(--color-blue-dark);
}

.board_tile .icons .delete:hover {
  color: red;
}

.board_tile  {
  display: flex;
  flex-direction: column;
}

.board_tile a {
  flex-grow: 1;
}

.board_tile .icons  {
  display: none;
}

.board_tile:hover .icons  {
  display: flex;
}