.home {
  display: flex;
}

.boards_container {
  display: flex;
}

.board_tile {
  background: var(--color-blue);

  border-radius: 0.4rem;
  max-width: 180px;
  min-height: 96px;

  padding: 10px;
  margin: 5px;
}

.board_tile:hover {
  background: var(--color-blue-dark);
}

.board_tile h6 {
  color: white;

  padding-top: 5px;

  font-size: 16px;
  height: 20px;
}

.board_tile_add {
  background: var(--color-gray);

  border-radius: 0.4rem;
  min-width: 180px;
  min-height: 96px;

  padding: 10px;
  margin: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.board_tile_add:hover {
  background: var(--color-gray-light);
}

.board_tile_add h6 {
  color: var(--color-gray-dark);

  font-size: 14px;
  font-weight: 400;
}
