/* CSS variables */
:root {
  --color-bg: #202020;
  --color-bg-variant: #6b4f2c;
  --color-primary: #ff974d;
  --color-primary-variant: rgba(255, 151, 77, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  --color-blue: #026aa7;
  --color-blue-dark: #014a75;
  --color-blue-light: #4e97c2;
  --color-blue-light-variant: #3588b9;
  --color-gray: #ebecf0;
  --color-gray-light: #dadbe2;
}

/* Remove default browser formatting  */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  overflow: hidden;
}

/* Tooltip */
.tooltip .tooltiptext {
  color: black;
}

/* General */
section {
  height: 100vh;
  margin-top: 44px;
  overflow: visible;
}

button {
  color: white;

  background-color: transparent;

  border-radius: 0.2rem;
  height: 32px;
  padding: 6px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  top: 0;
}

.divider {
  cursor: auto;

  opacity: 0.5;
  font-size: 14px;
}

nav,
.board .top {
  background-color: var(--color-blue);
  color: white;

  top: 0;
  width: 100vw;
  height: 44px;
  padding: 6px;

  display: flex;
  align-items: center;
}

button.icon {
  width: 32px;
  padding: 0;
}

button.icon.dark {
  background-color: var(--color-blue-dark);
}

button.icon.dark:hover,
button.icon.avatar:hover {
  background-color: var(--color-blue-light);
}

button.gap {
  flex-grow: 1;
}

/* Hide Defaults */
.mobile {
  display: none;
}

/* Small Devices */
@media screen and (max-width: 600px) {
  .hide_mobile {
    display: none;
  }

  .mobile {
    display: inherit;
  }
}
